<div
  class="p-3 prose-p:mt-2 prose-headings:mt-0 max-w-none prose-p:text-xl rounded-lg border border-gray-300 prose"
>
  <h2 class="flex justify-between items-center">
    <span>Skills</span>
    <fa-icon class="text-slate-700" icon="plus"></fa-icon>
  </h2>

  <div class="grid grid-cols-4" *ngFor="let skill of skills">
    <div
      class="flex flex-col items-center"
      *ngFor="let soft_skill of skill.soft_skills"
    >
      <app-progress-circle
        [progress]="soft_skill.soft_skill_score"
      ></app-progress-circle>
      <p class="">{{ soft_skill.soft_skill_name }}</p>
    </div>
  </div>
  <div class="grid grid-cols-4" *ngFor="let skill of skills">
    <div
      class="flex flex-col items-center"
      *ngFor="let hard_skill of skill.hard_skills"
    >
      <app-progress-circle
        [progress]="hard_skill.hard_skill_score"
      ></app-progress-circle>
      <p class="">{{ hard_skill.hard_skill_name }}</p>
    </div>
  </div>
</div>
