<nav class="flex justify-between items-center p-2 bg-slate-700">
  <div class="text-white">AP logo+Name</div>
  <div class="flex gap-2 items-center">
    <a href="https://github.com/jose-velarde">
      <fa-icon class="text-white" icon="github" size="2x"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/jose-velarde/">
      <fa-icon class="text-white" icon="linkedin" size="2x"></fa-icon>
    </a>
    <a href=""
      ><button class="py-2 px-4 text-white rounded-md border">Login</button></a
    >
  </div>
</nav>
